@charset "utf-8"; 
/*------ wrap ------*/
.main-wrap{width: 100%; margin: 0 auto;}
/*---- home-main-wrap ----*/
.home-main-wrap:nth-child(1){width: 100%; margin: 0 auto; background-color: #F6BB43;}

/*---- main-contents ----*/
.main-contents{
    width: 80%; height: 350px; margin: 0 auto;
}

/*---- first-content ----*/
.first-content{
    margin: 0 auto; background-color: white; 
    font-size: 30px; letter-spacing: 5px; line-height: 130px;
    position: relative;
}
.first-content > h2{display: block; width: 400px; height: auto; float: left; padding: 30px; margin-left: 15%;}
.first-content > h2 > span{color: #FEDC56}

/*-- first-img-wrap --*/
.first-img-wrap{width: 330px; height: auto; float: right; padding: 10px; margin-right: 20%;}
.first-img-wrap > img{margin:10px; border: 5px solid; border-radius: 10px; width: 80%; overflow: hidden; box-shadow: 12px 12px 2px 1px rgba(246, 187, 67, 0.7)} 
/*-- h2 --*/
h2{font-weight: 400;}

/*---- second-content ----*/
.second-content{background-color: antiquewhite;}
.second-content p{text-align: center; padding-top: 50px; font-size: 2.0em;}
/*-- second-matching --*/
.second-matching{position: relative; width: 50%; height: 260px; margin: 0 auto;}
.second-matching .bee-home{position: absolute; width: 300px; top: 20px; left: 210px;}
.second-matching .bee-flying{width: 80px;}
/*-- bee-left-fly --*/
.bee-left-fly{float: left; position: relative;}
.bee-left-fly > img{
    float: left;
    transform:rotate(180deg);   
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1);   
}
.bee-left-fly > .bee-flying{position: absolute; width: 150px;}
.bee-left-fly > .bee-flying:nth-child(1){top: 10px; left: 0;}
.bee-left-fly > .bee-flying:nth-child(2){top: 80px; left: 10px;}
.bee-left-fly > .bee-flying:nth-child(3){top: 150px; left: 30px;}
/*-- bee-right-fly --*/
.bee-right-fly{float: right; position: relative;}
.bee-right-fly > .bee-flying{position: absolute; width: 150px;}
.bee-right-fly > .bee-flying:nth-child(1){top: 10px; right: 0;}
.bee-right-fly > .bee-flying:nth-child(2){top: 80px; right: 10px;}
.bee-right-fly > .bee-flying:nth-child(3){top: 150px; right: 30px;}
