<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="kaki">
    <meta name="description" content="beebee market">
    <meta name="keywords" content="market crud">
    <meta name="copyright" content="kaki5507">
    <title>register-clear</title>
        <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-observe-mutations></script><!-- 폰트어썸 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../../resources/common/css/default.css">
        <link rel="stylesheet" href="../../../resources/register/css/register-clear.css">
</head>
<body>
    <!------ reg-clear-wrap -------->
    <div class="reg-clear-wrap">
        <h3>회원가입이 완료되었습니다.</h3>
        <div class="clear-bee-home">
            <img src="../../../resources/register/img/bee-home.png" alt="벌집">
            <img src="../../../resources/register/img/bee-fly1.png" alt="벌 나는모습1">
            <img src="../../../resources/register/img/bee-fly2.png" alt="벌 나는모습2">
            <img src="../../../resources/register/img/bee-fly3.png" alt="벌 들어가는 모습">
            <a href="#">메인으로</a>
        </div>
    </div>
    <!------ //reg-clear-wrap -------->
</body>
</html>