<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="kaki">
    <meta name="description" content="beebee market">
    <meta name="keywords" content="market crud">
    <meta name="copyright" content="kaki5507">
    <title>register2</title>
        <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-observe-mutations></script><!-- 폰트어썸 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../resources/common/css/default.css">
        <link rel="stylesheet" href="../../resources/register/css/register2.css">
</head>
<body>
    <!------ ag-wrap -------->
    <form id="ag-wrap" name="agForm" action="#" method="get">
        
        <!---- reglevel ---->
        <div class="reglevel">
            <img class="agree" src="./img/agree.png" alt="약관 동의">
            <h2>이용 약관</h2>
        </div>
        <!---- //reglevel ---->

        <!---- reg-ag ---->
        <div class="reg-ag">
            <!-- all-chk-wrap -->
            <div class="all-chk-wrap">
                <input type="checkbox" id="all-chk" value="전체선택">
                <label for="all-chk">
                    비비 서비스 이용약관, 개인정보 수집 및 이용, 유효기간 5년(선택),<br>
                    이벤트 등 프로모션 안내 메일 수신(선택)에 <strong>모두 동의</strong>합니다.
                </label>
            </div>
            <!-- //all-chk-wrap -->

            <!-- serv-chk-wrap -->
            <div class="serv-chk-wrap">
                <input type="checkbox" id="serv-chk" value="비비 서비스 이용약관 동의">
                <label for="serv-chk">비비 서비스 이용약관 동의</label>
                <iframe src="stipulation/service.html"  title="비비 서비스 이용약관" frameborder="0"></iframe>
            </div>
            <!-- //serv-chk -->

            <!-- priv-chk-wrap -->
            <div class="priv-chk-wrap">
                <input type="checkbox" id="priv-chk" value="개인정보 수집 및 이용 동의">
                <label for="priv-chk">개인정보 수집 및 이용 동의</label>
                <iframe src="stipulation/privacy.html" frameborder="0"></iframe>
            </div>
            <!-- //priv-chk-wrap -->

            <!-- valid-chk-wrap -->
            <div class="valid-chk-wrap">
                <input type="checkbox" id="valid-chk" value="개인정보 유효기간 5년">
                <label for="valid-chk"><span class="ag-choose">(선택)</span>개인정보 유효기간을 5년으로 선택합니다.</label>
                <span>선택하지 않으시면 1년으로 설정됩니다.<a class="valid-detail">자세히보기</a></span>
            </div>
            <!-- //valid-chk-wrap -->

            <!-- event-chk-wrap -->
            <div class="event-chk-wrap">
                <input type="checkbox" id="event-chk" value="이벤트, 프로모션">
                <label for="event-chk"><span class="ag-choose">(선택)</span>이벤트 등 프로모션 안내 메일을 수신합니다.</label>
            </div>
            <!-- //event-chk-wrap -->
        </div>
        <!---- //reg-ag ---->

        <!---- reg-btn ---->
        <div class="reg-btn">
            <a href="#">NEXT</a>
        </div>
        <!---- //reg-btn ---->
    </form>
    <!------ //ag-wrap -------->
</body>
</html>