<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="kaki">
    <meta name="description" content="beebee study-matching">
    <meta name="keywords" content="study crud">
    <meta name="copyright" content="kaki5507">
    <title>자격증</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../../resources/common/css/default.css">
        <link rel="stylesheet" href="../../../resources/board/css/board.css">
</head>
<body>
    <!------ board-wrap ------>
    <div class="board-wrap">
        <!---- board-side-menu ---->
        <div class="board-side-menu">
            <h3>자격증</h3>
            <ul>
                <li><a href="#">공부 인증</a></li>
                <li><a href="#">자유게시판</a></li>
                <li><a href="#">질문게시판</a></li>
                <li><a href="#">자격증</a></li>
            </ul>
        </div>
        <!---- //board-side-menu ---->
        <!---- board-center ---->
        <div class="board-center">
            <table class="board-table">
                <tr>
                    <th class="bt-1">번호</th>
                    <th class="bt-2">제목</th>
                    <th class="bt-3">이름</th>
                    <th class="bt-4">작성일</th>
                    <th class="bt-5">조회 수</th>
                </tr>
                <tr>
                    <td class="bt-1">번호 타임리프</td>
                    <td class="bt-2">제목 타임리프</td>
                    <td class="bt-3">이름 타임리프</td>
                    <td class="bt-4">작성일 타임리프</td>
                    <td class="bt-5">조회수 타임리프</td>
                </tr>
            </table>
        </div>
        <!---- //board-center ---->
    </div>
    <!------ //board-wrap ------>
</body>
</html>