<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sh.mapper.MemberMapper">
	
	<resultMap type="com.sh.domain.MemberVO" id="memberMap">
		<id property="userEmail" column="userEmail" />
		<result property="userEmail" column="userEmail" />
		<result property="userPwd" column="userPwd" />
		<result property="userNickName" column="userNickName" />
		<result property="regDate" column="regdate" />
		<result property="updateDate" column="updatedate" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="com.sh.domain.AuthVO" id="authMap">
		<result property="userEmail" column="userEmail" />
		<result property="auth" column="auth" />
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		SELECT
			mem.userEmail, userPwd, userNickName, enabled, regdate, updatedate, auth
		FROM
			tbl_member mem LEFT OUTER JOIN tbl_member_auth auth on mem.userEmail = auth.userEmail
		WHERE
			mem.userEmail = #{userEmail}
	</select>
	
	<select id="selectList" resultType="com.sh.domain.MemberVO">
		select userEmail, userNickName, userPwd
		from tbl_member
	</select>
	
	<select id="getByEmail" parameterType="String" resultType="com.sh.domain.MemberVO">
		select * from tbl_member where userEmail = #{userEmail}
	</select>

	<insert id="insert">
		insert ALL
		into tbl_member (userEmail, userNickName, userPwd)
		values (#{userEmail}, #{userNickName}, #{userPwd})
		into tbl_member_auth (userEmail) 
		values (#{userEmail})
		select * from dual
	</insert>
	
	<select id="emailCheck" parameterType="String" resultType="int">
		select COUNT(userEmail) from tbl_member where userEmail = #{userEmail}
	</select>

	<select id="nickNameCheck" parameterType="String" resultType="int">
		select COUNT(userNickName) from tbl_member where userNickName = #{userNickName}
	</select>
	
</mapper>