<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sh.mapper.ReplyMapper">

<insert id="insert">
	insert into tbl_reply (rno, bno, reply, replyer)
	values (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
</insert>

<select id="read" resultType="com.sh.domain.ReplyVO">

	select * from tbl_reply where rno = #{rno}

</select>

<select id="getListWithPaging" resultType="com.sh.domain.ReplyVO">
	<![CDATA[
		select rno, bno, reply, replyer, replyBoomUp, replyBoomDown, replyDate, updatedate
		from
		(
			select /*+INDEX(tbl_reply idx_reply)*/
				rownum rn, rno, bno, reply, replyer, replyBoomUp , replyBoomDown, replyDate, updatedate
			from tbl_reply
			where bno = #{bno}
			and rno > 0
			and rownum <= #{cri.pageNum} * #{cri.amount}
		) 
		where rn > (#{cri.pageNum} -1) * #{cri.amount}
	]]>
	<!-- 1페이지의 내용 보여줄려면 1,2,3,4 해서 안에는 rownum의 숫자가 10보다 작아야함 그래서 밖에 -1 -->
</select>

<!-- 댓글 숫자  -->
<select id="getCountByBno" resultType="int">
	<![CDATA[
		select count(rno) from tbl_reply where bno = #{bno}
	]]>
</select>

<delete id="delete">

	delete from tbl_reply where rno = #{rno}

</delete>

<update id="update">

	update tbl_reply set reply = #{reply}, updateDate = sysdate
	where rno = #{rno}

</update>

<update id="boomUp">
	update tbl_reply set replyBoomUp = replyBoomUp + 1
	where rno = #{rno}
</update>

<update id="boomDown">
	update tbl_reply set replyBoomDown = replyBoomDown + 1
	where rno = #{rno}
</update>

<insert id="boomUpInsert">
	insert into tbl_boomUp (reco, rno)
	values (#{reco}, #{rno})
</insert>

<select id="readBoomUp" resultType="com.sh.domain.BoomUpDTO">
	select * from tbl_boomUp
	where rno = #{rno}
</select>

</mapper>