/*------------ reg-identi-wrap ------------*/
.reg-identi-wrap{width: 100%; margin: 0 auto;}

/*------ reglevel ------*/
.reglevel{width: 100%; margin: 0 auto; text-align: center;}
/*-- identi-title --*/
.identi-title{position: relative; width: 60%; height: 50%;}
.identi-title > img{position: absolute;}
/* 벌 사진 */
.identi-title > img:nth-child(1){width: 60%; top: 100px; right: 5%;}
/* 더듬이 */
.identi-title > img:nth-child(2){width: 30%; top: 80px; left: 20%;}
/* 날개 */
.identi-title > img:nth-child(3){width: 30%; top: 100px; right: -10%;}
/* 왼쪽 ? */
.identi-title > img:nth-child(4){width: 20%; bottom: -10%; right: -25%;}
/* 가운데 ? */
.identi-title > img:nth-child(5){width: 15%; bottom: -6%; right: -30%;}
/* 오른쪽 ? */
.identi-title > img:nth-child(6){width: 20%; bottom: -10%; right: -40%;}
/* information */
.identi-title > img:nth-child(7){width: 30%; bottom: -10%; right: -38%;}
/*-- h2 --*/
h2{display: block; position: relative; font-size: 4.0em; border-bottom: 1px solid #ffb347; margin: 30px 0; padding: 30px 0; letter-spacing: 5px; color: rgb(234, 118, 103); text-shadow: 2px 2px saddlebrown;}




/*------ m-wrap ------*/
#m-wrap{width: 45%; margin: 0 auto; font-size: 1.5em;}
#m-wrap > div{background-color: #f2c894; margin: 40px 0; padding: 20px; border-radius: 10px;}
#m-wrap > div > span{color: red; width: 100%; margin-top: 10px; display: inline-block; font-size: 15px;}
/* 설명 */
#m-wrap > span{display: inline-block; width: 100%; text-align: center; font-size: 0.8em;}
#m-wrap > div > label{width: 25%; float: left; padding: 25px 0 20px 10px;}

/* m-must 필수입력 표시 */
.m-must{font-size: 0;}
.m-must::after{content: '*'; display: inline-block; width: 15px; height: 10px; margin-left: 5px; font-size: 25px; color: rgb(234,118,103);}

/* input 크기 */
.info-form{display: inline-block; box-sizing: border-box; width: 55%; padding: 20px; border: 10px solid #FFB347; border-radius: 15px; font: "jua"; }
input:focus{outline: none;}
/* 비비ID input */
#m-wrap > div:first{background-color: orchid;}
/* placeholder 글씨체*/
input::placeholder{font-family: 'jua'; font-size: 1.3em;}

/* 인증번호 발송 */
.authentic-n{display: inline-block; border-radius: 15px; width: 15%; border: none; height: 60px; font-size: 0.5em;}
.authentic-n:hover{background: white;}
.authentic-n:focus{outline: none;}

/* 버튼 */
.reg-btn{text-align: center;background: none !important;}
.bee-join{display: inline-block; background-color: orange; border: none; width: 100px; height: 60px; font-size: 1.0em; font-weight: 400; font-family: 'jua'; border-radius: 15px; margin: 0 10px; opacity: 0.7;}
.bee-join:hover,:focus{opacity: 1; outline: 0; cursor: pointer;}
.btn-cancel{display: inline-block; background-color: #9fc0de; width: 100px; height: 60px; line-height: 60px; font-size: 1.0em; font-weight: 400; border-radius: 15px; margin: 0 10px; opacity: 0.8;}
.btn-cancel:hover{opacity: 1;}


@media only screen and (min-width: 0px) and (max-width: 736px) {
    /*-- identi-title --*/
    .identi-title{height: 25%;}
    /*-- h2 --*/
    h2{display: block; position: relative; font-size: 2.0em;}
    /*------ m-wrap ------*/
    #m-wrap{width: 80%; font-size: 1.2em;}
    #m-wrap > div > label{width: 100%;}


    /* 벌 사진 */
    .identi-title > img:nth-child(1){width: 80%; top: 100px; right: -20%;}
    /* 더듬이 */
    .identi-title > img:nth-child(2){width: 50%; top: 80px; left: 10%;}
    /* 날개 */
    .identi-title > img:nth-child(3){width: 50%; top: 100px; right: -50%;}
    /* 왼쪽 ? */
    .identi-title > img:nth-child(4){width: 40%; bottom: -40%; right: -45%;}
    /* 가운데 ? */
    .identi-title > img:nth-child(5){width: 35%; bottom: -36%; right: -50%;}
    /* 오른쪽 ? */
    .identi-title > img:nth-child(6){width: 40%; bottom: -40%; right: -60%;}
    /* information */
    .identi-title > img:nth-child(7){width: 50%; bottom: -40%; right: -58%;}

    /* input 크기 */
    .info-form{width: 100%;}

    /* 인증번호 발송 */
    .authentic-n{width: 100%; margin-top: 5%; height: 6%; font-size: 0.7em;}

}
